/*
    font
    info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


    color:
    lightgray - #eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    darkblue - #046c97
*/

@font-face {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.6
}

#site_header img {
  height: 35px;
  margin-bottom: 15px;
}

section {
  border-bottom-style: solid;
  border-color: #eee;

}
nav a:link {
  color: white;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-width: thin;
  border-color: white;
  border-style: solid;
  border-radius: 5%;

}
p a:link {
  color: #1fabe5;
}

h2, h3 {
  color: #1fabe5;
  text-decoration: none;
}

li {
  font-weight:bold;
}
body {
  font-family: sans-serif;
  text-decoration: none;
}

header {
  background-color: #ff8523;
  padding: 20px;
}

table, td, tr {
  border-collapse: collapse;
  border: 1px solid #046c97;
  padding: 10px;
}


img {
  display: block;
  height: 30%;
}

thead {
  background-color: #1fabe5;
}

form {
  background-color: #dddddd;
  padding: 10px
}
.name {
  border-radius: 4px;
  background-color: #ff8523;
  margin: 10px;
  padding: 20px;
  color: white;

}

.submit_container {
  color: white;
  width: 15%;
  height: 15%;
  background-color: #1fabe5;
  padding: 10px;
  border-radius: 5%

}
div {
  margin: 10px;

}
